UsefulTtcn3Types.ttcn
UsefulTtcn3Types.??
UsefulTtcn3Types_se[qt].cc
UsefulTtcn3Types_se[qt]of.cc
UsefulTtcn3Types_union.cc
XSD.ttcn
XSD.??
XSD_se[qt].cc
XSD_se[qt]of.cc
XSD_union.cc
www_example_*.ttcn
www_example_*.??
converter.??
converter_se[qt].cc
converter_se[qt]of.cc
converter_union.cc
POtest.ttcn
POtest.??
POtest_se[qt].cc
POtest_se[qt]of.cc
POtest_union.cc
compile
POtest
POtest.exe
*.d
