Txer*.??
Txer*.ttcn
Asn*.??
Set*.??
EmptyUnion*.??
ObjectClass*.??
converter.??
converter_se[qt].cc
converter_se[qt]of.cc
converter_union.cc
UTF8.??
UTF8_se[qt].cc
UTF8_se[qt]of.cc
UTF8_union.cc
compile
*.log
Xertest
Xertest.exe
byhand
*.gc??
gcov.out
*.d
