*.o
good
good.exe
goodprog
goodprog.exe
one_OK.??
one_OK_se[qt].cc
one_OK_se[qt]of.cc
one_OK_union.cc
isbound_component_OK.??
isbound_component_OK_se[qt].cc
isbound_component_OK_se[qt]of.cc
isbound_component_OK_union.cc
