###############################################################################
# Copyright (c) 2000-2017 Ericsson Telecom AB
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#   Balasko, Jeno
#
###############################################################################
# EL_BufferMasked_5.cfg
# Goal: To test the buffer dumping after normal finish.
[MODULE_PARAMETERS]
tsp_looplimit:=0

[TESTPORT_PARAMETERS]
#empty
[LOGGING]
LogFile := "logs/%e-%r.%s"

ConsoleMask := LOG_ALL 
FileMask := LOG_ALL | DEBUG
TimeStampFormat := Time
LogEventTypes := Yes
SourceInfoFormat := Stack
LogEventTypes := Detailed
//AppendFile := Yes

*.EmergencyLogging:=15
*.EmergencyLoggingBehaviour := BufferMasked
*.EmergencyLoggingMask := TESTCASE
//|  USER  | ACTION | ERROR | PORTEVENT| EXECUTOR | DEBUG | DEFAULTOP | EXECUTOR | FUNCTION | MATCHING | DEBUG | PARALLEL | PORTEVENT | STATISTICS /* |
//TESTCASE */ | TIMEROP
//*.EmergencyLoggingMask := LOG_ALL | MATCHING | DEBUG 
[EXECUTE]
//Titan_LogTest.tc_function_rnd
Titan_LogTest.tc_encdec
[MAIN_CONTROLLER]
#UnixSocketsEnabled := No

//saved by GUI
