*.d
config_preproc_la.cc
hostid
hostid.exe
lex.backup
pattern_la.cc
pattern_p.cc
pattern_p.hh
pattern_p.output
pattern_uni.hh
pattern_uni.cc
pattern_uni_lex.cc
pattern_uni.output
config_preproc_p.output
config_preproc_p.tab.cc
config_preproc_p.tab.hh
