*.dot
*.png
backup
compile
*.exe
*.cc
*.hh
exec.cfg
exec.old
hid
TnamedActualParameters.??
TnamedActualParameters_se[qt].cc
TnamedActualParameters_se[qt]of.cc
TnamedActualParameters_union.cc
TnamedActualParameters
TnamedActualParameters.exe
NamedParam
NamedParam.exe
