body {
  margin-bottom:50px;
}

body, td {
  font-family: Verdana, Cursor;
  font-size: 12px;
  font-weight: normal;
}

a:link,a:visited,a:active {
  color: #444;
}

a:hover {
  color: #000000;
}

table {
  border-spacing: 1px 1px;
}

table td {
  padding: 3px 0px 3px 0px;
  text-align: left;
}

.history {
  padding: 3px 0px 3px 0px;
  text-align: left;
  background-color: #eaeaea;
}

input textline {
  font-family: Verdana, Cursor;
  font-weight: normal;
  font-size: 10px;
}

input button {
  background-color: #447799;
  font-family: Verdana, Cursor;
  font-weight: bold;
  font-size: 10px;
  color: white;
}
