compile
convert
.cvsignore
HQ48576Test
HQ48576Test.exe
HQ48576Test.??
schemas_ericsson_com_pg_hlr_13_5.??
schemas_ericsson_com_pg_hlr_13_5.ttcn
UsefulTtcn3Types.??
UsefulTtcn3Types.ttcn
XSD.??
XSD.ttcn
